<app-navbar></app-navbar>
<!-- <app-login></app-login>
<app-logout></app-logout> -->
<app-info></app-info>
<app-experiencia></app-experiencia>
<app-educacion></app-educacion>
<app-habilidad></app-habilidad>
<app-proyecto></app-proyecto>
<app-contacto></app-contacto>
<app-footer></app-footer>
<!-- <app-m-login></app-m-login>
<app-m-logout></app-m-logout>
<app-m-redes></app-m-redes>
<app-m-banner></app-m-banner>
<app-m-info></app-m-info>
<app-m-experiencia></app-m-experiencia>
<app-m-educacion></app-m-educacion>
<app-m-hab-dura></app-m-hab-dura>
<app-m-hab-blanda></app-m-hab-blanda>
<app-m-proyecto></app-m-proyecto>
<app-m-contacto></app-m-contacto>
<app-m-print></app-m-print> -->

