<div class="modal fade" id="redesModal" tabindex="-1" aria-labelledby="ModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="ModalLabel">Redes Sociales</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <!-- Formulario-->
          <form class="row g-3">
            <div class="mb-3">
              <label for="formFile" class="form-label">Logo</label>
              <input class="form-control" type="file" id="formFile">
              <button type="button" class="btn btn-primary btn-sm">Guardar</button>
            </div>
            <div class="mb-3">
              <div class="col">
                <div class="col">
                  <input type="text" class="form-control" placeholder="Nombre" aria-label="First name">
                </div>
                <button type="button" class="btn btn-primary btn-sm">Guardar</button>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>