<div class="modal fade" id="contModal" tabindex="-1" aria-labelledby="ModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="ModalLabel">Contacto</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <!-- Formulario-->
          <form class="row g-3">
            <div class="col-md-6">
              <label for="inputText" class="form-label">Celular</label>
              <input type="text" class="form-control" id="inputText">
            </div>
            <div class="col-md-6">
              <label for="inputEmail4" class="form-label">Correo Electronico</label>
              <input type="email" class="form-control" id="inputEmail4">
            </div>
            <div class="col-12">
              <label for="inputAddress" class="form-label">Direccion</label>
              <input type="text" class="form-control" id="inputAddress" placeholder="calle xx N°xxxx">
            </div>
            <!-- <div class="col-12">
              <label for="inputAddress2" class="form-label">Direccion 2</label>
              <input type="text" class="form-control" id="inputAddress2" placeholder="Departamento, casa, oficina">
            </div> -->
            <div class="col-md-6">
              <label for="inputCity" class="form-label">Ciudad</label>
              <input type="text" class="form-control" id="inputCity">
            </div>
            <div class="col-md-2">
              <label for="inputZip" class="form-label">CP</label>
              <input type="text" class="form-control" id="inputZip">
            </div>
            <div class="col-md-4">
              <label for="inputState" class="form-label">Provincia</label>
              <input type="text" class="form-control" id="inputState">
              <!-- <select id="inputState" class="form-select">
                <option selected>Buenos Aires</option>
                <option>Cordoba</option>
                <option>Mendoza</option>
                <option>Neuquen</option>
              </select> -->
            </div>
            <div class="col-12">
              <button type="button" class="btn btn-primary btn-sm">Guardar</button>
            </div>
          </form>         
        </div>
      </div>
    </div>
</div>