<div class="modal fade" id="infoModal" tabindex="-1" aria-labelledby="ModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="ModalLabel">Información Personal</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <!-- Formulario-->
          <form class="row g-3">
            <div class="mb-3">
              <label for="formFile" class="form-label">Foto</label>
              <input class="form-control" type="file" id="formFile">
              <button type="button" class="btn btn-primary btn-sm">Guardar</button>
            </div>
            <div class="mb-3">
              <div class="col">
                <div class="row">
                  <div class="col">
                    <input type="text" class="form-control" placeholder="Nombre" aria-label="First name">
                  </div>
                  <div class="col">
                    <input type="text" class="form-control" placeholder="Apellido" aria-label="Last name">
                  </div>
                </div>
                <button type="button" class="btn btn-primary btn-sm">Guardar</button>
              </div>
            </div>
            <div class="mb-3">
              <div class="col">
                  <div class="col">
                    <input type="text" class="form-control" placeholder="Titulo" aria-label="Tit">
                  </div>
                <button type="button" class="btn btn-primary btn-sm">Guardar</button>
              </div>
            </div>
            <div class="mb-3">
              <label for="exampleFormControlTextarea" class="form-label">Información Profesional</label>
              <textarea class="form-control" id="exampleFormControlTextarea" rows="1"></textarea>
              <button type="button" class="btn btn-primary btn-sm">Guardar</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>