<div class="modal fade" id="printModal" tabindex="-1" aria-labelledby="ModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="ModalLabel">Imprimir Portfolio</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <!-- Formulario-->
          <a href="#">Imprimir</a>
          <!-- <a href="documento.pdf" download="miarchivo.pdf">Descargar</a>
          <a href="imagen.jpg" download="mi-imagen">img</a> -->
        </div>
      </div>
    </div>
</div>