<section id="error404" class="about titulo2 mb-4">    
<div class="flex-container">
    <div class="card p-5 align-text-center">
        <div class="pag404">[404]</div>
        <hr>  
        <i class="ups">Ups!... la pagina no se encuentra disponible</i>
        <!-- <button type="button" name="button404" routerlink="/">INICIO</button> -->
        <hr>
        <li class="list-group-item">
            <button type="button" class="btn btn-primary btn-g p-2" name="button404" routerlink="/">
            <i class="fa-sharp fa-solid fa-house fa-2xl"></i></button>                
        </li> 
    </div>
</div>
</section>