/* You can add global styles to this file, and also import other style files */
body {
    background-image: url(./assets/img/descarga.jpg);
    background-size:100%;
    background-repeat:repeat;   
} 

/* section.fondo1 {
    background-image: url(../img/th.jfif);
    background-size:100%;
    background-repeat:no-repeat;
    background-color: #3dc4d581;
    min-height: 10vh;
} */

.logo {
    filter:invert()
}

/* .marco1 {
    background-image: url(../img/th.jfif);
    color:#ffff;
    padding: 0 0 0 1rem;
    } */

    .titulo3 {
        text-align:left;
        /* font-weight: bold; */
        margin-left: 2rem;
        margin-right: 2rem;;
    }

    .titulo2 {
        text-align:left;
        font-weight: bold;
        margin-left: 2rem;
        margin-right: 2rem;;
    }
    
    .titulo1 {
        color: #ffff;
        text-align:left;
        font-weight: bold;
    }
    
    .titulologo2 {
        color: #ffff;
        font-size: 15pt;
        font-weight: bold;
    }
    
    .titulologo1 {
        color: #ffff;
        font-size: 15pt;
        font-weight: bold;
        font-family: Arial;
    }
    
    /* .navbar-brand:focus, .navbar-brand:hover {
        --bs-navbar-brand-hover-color:;
    } */
    
    .navbar-brand:focus, .navbar-brand:hover {
        color: #ffff;
    }
    
    .navbar.navbar-expand-lg.bg-primary {
        background-color: #97e6f281 !important;       
    }
    
    a.fa-brands.fa-linkedin.fa-2xl,
    a.fa-brands.fa-square-github.fa-2xl,
    i.fa-solid.fa-right-to-bracket.fa-2xl,
    i.fa-solid.fa-right-from-bracket.fa-2xl,
    i.fa-solid.fa-user.fa-2xl {
        color: #ffff;
    }
    
    a.fa-brands.fa-linkedin.fa-2xl:hover,
    a.fa-brands.fa-square-github.fa-2xl:hover,
    i.fa-solid.fa-right-to-bracket.fa-2xl:hover,
    i.fa-solid.fa-right-from-bracket.fa-2xl:hover,
    i.fa-solid.fa-image.fa-l:hover,
    i.fa-solid.fa-diagram-project.fa-l:hover,
    i.fa-solid.fa-pen.fa-l:hover,
    i.fa-solid.fa-plus.fa-l:hover,
    i.fa-solid.fa-trash.fa-l:hover,
    i.fa-solid.fa-print.fa-xl:hover,
    i.fa-sharp.fa-solid.fa-location-dot.fa-xl:hover,
    i.fa-brands.fa-whatsapp.fa-xl:hover,
    i.fa-regular.fa-envelope.fa-xl:hover,
    i.fa-solid.fa-file-arrow-down.fa-xl:hover {
        color: rgb(0, 10, 13);
    }
    
    .list-group {
        --bs-list-group-bg: transparent;
        --bs-list-group-border-color: transparent;
        --bs-list-group-item-padding-x: 0.5rem;
    }
    
    section.about {
        margin-top: 1rem;
        margin-left: 5rem;
        margin-right: 5rem;
        /* border-radius: 2rem;
        border-color: blue; */
    }

    .card.p-5 {
        background-color:lightcyan;
    }
    
    /* .capa {
        z-index: 0;
        width: 100%;
        height: 20rem
    } */
    
    /* border.border-5.border-primary.rounded-circle.w-75 */
    /* .border.border-5.border-primary.w-50 {
        transform: rotateZ(-90deg); 
        width: 10rem !important;
        position: absolute;
        z-index: 1;
        margin-top: 0rem;
        margin-left: 0rem;;
        height: auto;    
    } */
    
    .w-50.d-inline-block {
        /* background-color:black; */
        width: 6rem !important;
    }
    
    .w-75.d-inline-block {
        /* background-color:black; */
        width: 12rem !important;
    }

    .pag404 {
        color: red;
        font-size: 10rem;
        font-weight: bold;
    }

    .ups {
        color: red;
        font-size: 2rem;
        font-weight: bold;  
    }