<div class="modal-header">
  <h1 class="m-3 titulo1">Iniciar Sesion</h1>
</div>
<form [formGroup]="form" class="m-4" (ngSubmit)="onEnviar($event)">
  <div class="mb-3">
    <label for="email1" class="form-label titulologo2">Correo</label>
    <input type="email" formControlName="email" class="form-control" id="email"
      [ngClass]="{'is-invalid':Mail?.errors && Mail?.touched, 'is-valid':!Mail?.errors && Mail?.touched}"> 
    <div *ngIf="Mail?.errors && Mail?.touched">
      <p *ngIf="Mail?.hasError('required')" class="text-danger">Correo requerido!</p>
      <p *ngIf="Mail?.hasError('email')" class="text-danger">Formato no valido!</p>
    </div>
  </div>
  <div class="mb-3">
    <label for="password1" class="form-label titulologo2">Password</label>
    <input type="password" formControlName="password" class="form-control" id="password"
      [ngClass]="{'is-invalid':Password?.errors && Password?.touched, 'is-valid':!Password?.errors && Password?.touched}">
    <div *ngIf="Password?.errors && Password?.touched">
      <p *ngIf="Password?.hasError('required')" class="text-danger">Password requerido!</p>              
      <p *ngIf="Password?.hasError('minlength')" class="text-danger">Password contiene al menos {{Password?.errors?.['minlength'].requiredLength}} caracteres!</p>
    </div>
  </div>
  <button type="submit" class="btn btn-primary">Enviar</button>
</form>

